<%- include('partials/header') %> 

<section id="login">

<div class="ui center aligned grid ">
    <div class="column ">
        <div class="ui segment">
            <div class="ui huge header">Login</div>

            <form class="ui large form">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name-"username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name-"password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>
                <button class="ui fluid large submit button" type="submit">Login</button>
            </form>
            
            <div class="ui hidden divider"></div>
            <p>Not registered? <a href="/register">Create an account</a></p>
        </div>
    </div>
</div>

</section>

<%- include('partials/footer') %> 