.label {
    margin-left: 0;
}



#employee-index .column, #manager-index .column, #leave-new .column, #login .column, #register .column, #message .column {
    max-width: 375px;
    padding: 0;
}

.ui.cards>.card {
    width: 100%;
    margin-top: -1px;
    margin-bottom: 0;
}

#employee-index .buttons form {
    width: 50%;
}

#employee-index .buttons form button {
    width: 100%;
}