.label {
    margin-left: 0;
}

#employee-index .column, #leave-new .column, #login .column, #register .column {
    margin-top: 54px;
    max-width: 375px;
    padding: 0;
}

.ui.cards>.card {
    width: 100%;
    margin-top: -1px;
    margin-bottom: 0;
}